/* feed.css */

.feed-layout-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
  }
  
  .left-sidebar,
  .right-sidebar {
    width: 20%;
  }
  
  .main-content {
    width: 55%;
  }
  