/* feed.css */

.feed-layout-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    font-family: 'IBM Plex Sans', sans-serif;
  }
  
  .left-sidebar,
  .right-sidebar {
    width: 20%;
  }
  
  .main-content {
    width: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media screen and (max-width: 1279px) {  /* Tablet and mobile screens */

    .left-sidebar {
        display: none;  /* Hide sidebars */
    }

    .main-content {
      width: 70%;
      margin: 0 auto;
    }

    .right-sidebar {
      width: 25%;
      margin-left: 2%;
    }
    
    /* Ensure posts take up proper width */
    /* .post-card {
      width: 100%;
      margin-bottom: 20px;
    } */
}

@media screen and (max-width: 1023px) {
  .main-content {
    width: 100%;
  }
  
  .right-sidebar {
    display: none;
  }
}

  @media screen and (max-width: 768px) {  /* Tablet and mobile screens */
    .feed-layout-container {
        flex-direction: column;
        padding: 10px; /* Adjust padding */
    }

    .left-sidebar,
    .right-sidebar {
        display: none;  /* Hide sidebars */
    }

    .main-content {
        width: 100%;  /* Full width for main content */
        padding: 0;
        margin: 0;
    }
}

  
/* Feed NavBar */
.feed-navbar {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.feed-navbar-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.feed-nav-item {
  display: flex;
  align-items: center;
  margin: 0 15px;
  cursor: pointer;
  color: #666;
  transition: color 0.3s ease;
}

.feed-nav-item:hover {
  color: #000;
}

.feed-nav-item.active {
  color: #27357f; /* Active tab color */
  font-weight: bold;
}

.nav-icon {
  margin-right: 8px;
  font-size: 2em; /* Adjust icon size here */
}

/* Optional: Hide text labels for a more compact view */
.feed-nav-item span {
  display: none; /* Hide text if only icons are preferred */
}
