.quicknav {
    width: 230px; /* Adjust the width as needed */
  }
  
  .nav-cards {
    background-color: #f8f9fa;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .nav-title {
    font-weight: bold;
  }

  hr {
    color: #bebac0;
  }
  
  .navs {
    list-style-type: none;
    padding: 0;
  }

  
  .navs li {
    margin: 10px 0;
  }
  
  .navs a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
  }
  
  .navs a.active {
    font-weight: bold;
    color: #007bff;
  }
  
  .navs a:hover {
    color: #0056b3;
  }
  