.logo {
  height: 50px;
}

.navbar {
  background-color: #27357f;
  height: 50px;
}

.auth-links {
  display: flex;
  align-items: center;
  /* justify-content: end; */
  margin-bottom: 15px;
  margin-right: 10px;
  
}

.auth-link {
  justify-content: end;
  color: #030303;
  font-weight: bold;
  text-decoration: none;
  margin-left: 10px;
  align-items: end;
}


.auth-link:hover {
  color: #007bff !important;
}





.nav-link:hover {
  color: #007bff !important;
}  */

/* =====Topbar===== */

.header-container {
  text-align: left;
}

.App-header {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color: rgb(0, 0, 0);
}

.logo {
  margin-right: 20px;
  margin-top: -200px;
  margin-bottom: 10px;
}

.logo img {
  width: 220px;
  max-width: 100%;
}

.title {
  margin: 0;
  text-align: center;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bolder;
}

.nav-buttons {
  display: flex;
  gap: 10px;
}

.nav-buttons button {
  background-color: white;
  color: #282c34;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
}

.navbar {
  background-color: #27357f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.nav-content {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
  align-items: center;
  margin-top: -15px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar li {
  position: relative;
}

.navbar li a {
  color: white;
  text-decoration: none;
  font-size: 17px;
}

.navbar li a:hover {
  color: #007bff !important;
  text-decoration: underline;
  text-decoration-color: #fbcf0a;
  text-decoration-thickness: 7px;
  text-underline-offset: 14px;
}

.navbar ul.sub-menus {
  margin-top: 13px;
  padding-bottom: 11px;
  padding: 0;
  height: auto;
  overflow: hidden;
  width: 270px;
  background: #27357f;
  position: absolute;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
  left: 0;
  top: 100%;
  flex-direction: column;
  text-decoration: none;
}

.navbar ul.sub-menus li {
  display: block; /* Display each submenu item as a block */
  padding: 0;
  text-align: left;
  width: 100%;
}

.navbar ul.sub-menus a {
  color: #ffffff;
  font-size: 16px;
  padding: 8px;
  display: block;
}

.navbar li:hover ul.sub-menus {
  opacity: 1;
  visibility: visible;
}

.navbar ul.sub-menus a:hover {
  background: #f2f2f2;
  color: #444444;
}

.username {
  color: white;
  font-size: 20px;
  justify-content: center;
}

.rounded-full {
  height: 30px;
  margin-right: 7px;
  justify-content: center;
}

.App-main {
  padding: 20px;
}

.menu-toggle {
  display: none;
}

.dropdown {
  display: flex;
  align-items: center;
  justify-content: end;
  margin-bottom: 15px;
  margin-right: 10px;
}

.dropdown-toggle {
  color: white;
  font-size: 17px;
  text-decoration: none;
  margin-top: 4px;
}

.dropdown-toggle:hover {
  color: #007bff;
}

.dropdown-button {
  color: #030303;
  font-weight: bold;
  text-decoration: none;
  margin-left: 10px;
  align-items: end;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.dropdown-button:hover {
  color: #007bff !important;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 10px;
  display: none;
}

.dropdown-menu a {
  color: #030303;
  font-weight: bold;
  text-decoration: none;
  display: block;
  padding: 10px;
}

.dropdown-menu a:hover {
  color: #007bff !important;
  background-color: #f0f0f0;
}

.dropdown:hover .dropdown-menu {
  display: block;
}


/* Media query for mobile responsiveness */
@media screen and (max-width: 750px) {
  .App-header {
    height: 100px;
    justify-content: space-around;
    align-items: center;
  }

  .logo {
    margin-top: -60px;
  }

  .logo img {
    height: 120px;
    width: 190px;
    margin-top: -10px;
    margin-left: -15px;
  }

  .logo-gcu {
    display: none;
  }

  .nav-content {
    display: none;
  }
  
  .nav-content.open {
    display: flex;
    flex-direction: column;
    width: 60%;
    position: absolute;
    top: 60px; /* Position the nav content below the navbar */
    left: 0;
    background-color: #27357f;
    z-index: 999; /* Ensure it appears above other content */
    border-top: 1px solid #000;
    padding-left: 10px;
  }

  .menu-toggle {
    display: block; 
    color: white;
    font-size: 18px;
    cursor: pointer;
    margin-top: -20px;
    background-color: #27357f;
    border: none;
    position: relative;
    z-index: 1000; /* Ensure the menu toggle stays above the nav content */
    align-items: center;
    top: 0;
  }

  .title h2 {
    font-size: 18px;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    position: relative;
    background-color: #27357f;
    padding: 0 10px;
  }

  .navbar ul {
    flex-direction: column;
    gap: 10px;
    width: 100%;
    text-align: left;
    padding: 0;
    margin: 5px 0;
  }

  .navbar li {
    display: block;
    position: relative;
    width: 100%;
  }

  .navbar li Link {
    padding: 10px;
    width: 100%;
    z-index: 1;
  }

  .navbar.open ul.sub-menus {
    opacity: 1;
    visibility: visible;
    display: contents;
    margin-left: 10px;
  }

  .navbar.open .navbar ul.sub-menus {
    position: relative;
    left: 0;
    top: 0;
  }

  .navbar ul.sub-menus {
    left: 0;
    top: 0;
    width: 100%;
    opacity: 0;
    visibility: visible;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  }

  .navbar li ul.sub-menus {
    display: block;
    opacity: 1;
    visibility: visible;
  }

  .navbar ul.sub-menus Link {
    padding-left: 20px;
  }

  .auth-links {
    position: relative;
    z-index: 1000; /* Ensure it stays above the nav content */
  }

  .auth-nav {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  .App-main {
    padding: 20px;
    flex-grow: 1;
    margin-top: 0;
    margin-left: 0;
  }
}





/* =====>Signup styling<======= */

/* .container{
display: flex;
flex-direction:column;
margin:auto;
margin-top: 200px;
width:600px;
background:#ffffff;
padding-bottom: 30px;
} */

.header{
display:flex;
flex-direction:column;
align-items:center;
gap: 9px;
width:100%;
margin-top:30px;
}

.text{
color: #f5f905;
font-size: 48px;
font-weight:700;
}

.underline{
width:61px;
height:6px;
background: blue;
border-radius:9px;
}

.inputs{
margin-top: 55px;
display: flex;
flex-direction: column;
gap:25px;
}

.input{
display:flex;
align-items:center;
margin:auto;
width:480px;
height:80px;
background:#eaeaea;
border-radius:6px;
}

.input img{
margin: 0px 30px;
}

.input input{
height:40px;
width:400px;
background: transparent;
border:none;
outline:none;
color:#797979;
font-size: 20px;
}

/* .forgot-password{
padding-left:75px;
margin-left: 75px;
margin-top:27px;
color: #797979;
font-size:18px;
}

.forgot-password span{
color: blue;
cursor:pointer;
} */

.submit-container{
display:flex;
gap:30px;
margin: 60px auto;
}

.submit{
display:flex;
justify-content: center;
align-items:center;
width:220px;
height:59px;
color:white;
background:blue;
border-radius:50px;
font-size:19px;
font-weight:700;
cursor:pointer;
}



/* =====Signup/Login===== */

/* .container {
display: flex;
justify-content: center;
margin-top: 90px;
padding-bottom: 50px;

}

.card {
margin-left: -250px;
border-radius: 7px;
width: 800px;
display: flex;
box-shadow: 5px 5px 30px rgb(197, 196, 196);
}


.card-body {
border-radius: 7px;
background-color: #ffffff;
padding: 15px;
}

.card-title {
font-size: 28px;
font-weight: bold;
}

.input {
height: 60px;
padding: 20px;
flex-wrap: wrap;
}


.btn-primary {
background-color: #27357f;
width: 300px;
height: 60px;
justify-content: center;
margin-left: 230px;
font-size: 20px;
}

.btn-primary:hover {
background-color: #1b265f;
}

.already-registered {
padding-left:75px;
margin-left: 75px;
margin-top:27px;
color: #797979;
font-size:18px;
}

.already-registered a {
text-decoration: none;
}

.already-registered span {
color: blue;
cursor:pointer;
}

.container2 {
display: flex;
height: 400px;
margin-top: 200px;
} */


/* @media (max-width: 768px) {
.col-md-6 {
width: 100%;
}
}

@media (max-width: 480px) {

.container {
padding: 10px;
}
.card {
width: 60%; 
margin: 20px auto;
}

.card-title {
font-size: 20px;
}

.input {
width: 80%;
height: 50px;
flex-wrap: wrap;
}

.input input {
font-size: 14px;
height: 40px;
margin-top: -14px;
}

.input select {
width: 100%;
height: 40px;
padding: 10px;
font-size: 14px;
border: 1px solid #ccc;
border-radius: 5px;
}

.already-registered {
font-size: 12px;
}

.forgot-password {
font-size: 12px;
}

.submit-container {
display: flex;
justify-content: center;
align-items: center;
}

.btn {
justify-content: center;
}
} */


/* =======Bottom Bar======== */

.bottombar {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
align-items: center;
background-color: #27357f;
padding: 10px;
border-top: 1px solid #ddd;
/* position: fixed; */
bottom: 0;
width: 100%;
height: auto;
box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
bottom: 0;
left: 0;
}

.social-links {
display: flex;
flex-direction:row;
padding: 9px;
align-items: center;
margin: 10px 0;
}

.footer-links {
display: flex;
flex-direction: row;
padding: 9px;
align-items: center;
margin: 10px 0;
}

.social-links a,
.footer-links a {
text-decoration: none;
padding: 7px;
color: #ffffff;
margin: 5px 0;
}

/* Tablet styles */
@media (max-width: 768px) {
  .bottombar {
    flex-direction: column;
    justify-content: center;
    height: auto;
    padding: 10px 5px;
  }

  .social-links {
    flex-direction: row;
    align-items: center;
  }

  .footer-links{
    flex-direction: column ;
    align-items: center;
  }

  .social-links a,
  .footer-links a {
    margin: 5px 0px;
    padding: 5px 3px;
  }
}



/* Verified User List */

/* components.css */

.verified-users-container {
  padding: 20px;
  width: 300px;
  margin: auto;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-bar {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.users-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.user-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user-item img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.user-info {
  display: flex;
  flex-direction: column;
}

.user-info h3 {
  margin: 0;
  font-size: 1rem;
  font-weight: bold;
}

.user-info p {
  margin: 0;
  font-size: 0.875rem;
  color: #666;
}

.error {
  color: red;
  text-align: center;
  margin-top: 10px;
}


/* Add responsiveness */
@media (max-width: 768px) {
  .verified-users-container {
    width: 100%; 
    float: none; 
    border-right: none;
  }
}


/* Article-container */

.article-container {
  border: 1px solid #c4c4c4;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 60%;
  box-sizing: border-box;
}

.container-title {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.container-content {
  font-size: 1em;
  line-height: 1.5;
}

/* Quick Nav  */

.quick-nav {
  background-color: #eee;
  padding: 16px;
  margin-left: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  max-width: 300px;
  height: auto;
}


.quick-nav-title {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 8px;
}

.navs {
  list-style-type: none;
  padding: 0;
}

.navs li {
  margin: 8px 0;
}

.navs a {
  text-decoration: none;
  color: #333;
}

.navs a.active {
  font-weight: bold;
  color: #007bff;
}

/* Mobile styles */
@media (max-width: 768px) {
  .article-container {
    max-width: 97%;
  }

  .quick-nav {
    display: none;
  }
}


/* News Card */

.news-cards {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 850px;
  height: 400px; /* Fixed height for the container */
  padding: 20px;
  margin-right: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.news-cards h2 {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  border-bottom: 2px solid #f0c14b;
  padding-bottom: 10px;
  margin-bottom: 20px;
  text-align: center;
}

.news-cards ul {
  padding: 0;
  list-style-type: none;
  overflow-y: auto; /* Enable vertical scrolling */
  height: calc(100% - 50px); /* Adjust height to fit within the container */
}

.news-cards li {
  min-height: 60px;
  gap: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.news-cards li:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #27357f;
}

.news-cards li:hover .news-title,
.news-cards li:hover .news-date {
  color: white;
}

.news-title {
  padding-left: 8px;
  flex: 1;
  color: #000000;
}

.news-date {
  padding-right: 8px;
  color: #888;
  font-size: 14px;
  margin-left: 20px;
}



/* Event Card */

.event-cards {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 500px;
  height: 400px; /* Fixed height for the container */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.event-title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  border-bottom: 2px solid #f0c14b;
  padding-bottom: 10px;
  margin-bottom: 20px;
  text-align: center;
}

.event-cards ul {
  padding: 0;
  list-style-type: none;
  overflow-y: auto; /* Enable vertical scrolling */
  height: calc(100% - 50px); /* Adjust height to fit within the container */
}

.event-cards li {
  margin-bottom: 0px;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.event-cards li:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #27357f;
}

.event-cards li:hover .event-title-text,
.event-cards li:hover .event-info h6,
.event-cards li:hover .event-info h7,
.event-cards li:hover .event-posted-date {
  color: white;
}

.event-title-text {
  margin: 0;
  color: #000;
}

.event-content {
  margin: 10px 0;
  color: #444;
}

.event-info h6 {
  margin: 5px 0;
  color: #666;
}

.event-info h7 {
  margin: 5px 50px 5px 0px;
  color: #666;
}


.event-posted-date {
  color: #888;
}


@media (max-width: 768px) {
  .news-cards,
  .event-cards {
    width: 100%;
    margin: 8px 0px;

  }

}


/* Gallery Preview */


.gallery-preview-container {
  padding: 20px;
  background-color: #eceef3;
  text-align: center;
  border-radius: 8px;
  margin: 20px auto;
  width: 80%;
}

.gallery-heading {
  display: flex;
  flex-wrap: wrap;
  justify-content:left;
  font-size: 2em;
  color: #333;
  margin-bottom: 20px;
}

.gallery-preview {
  display: flex;
  flex-wrap: wrap;
  justify-content:left; 
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 10px;
}

.preview-image {
  width: 200px;
  height: 200px;
  border-radius: 30%;
  object-fit: cover;
  transition: transform 0.3s, box-shadow 0.3s;
  margin: 10px;
}

.preview-image:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 16px #27357f;
}

@media (max-width: 768px) {
  .gallery-preview-container {
    width: 90%;
  }
  .gallery-preview {
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  }
  .preview-image {
    width: 120px;
    height: 120px; 
  }
}

