/* .topbar-container {
    width: 100%;
    background-color: #27357f;
    border-bottom: 1px solid #27357f;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    height: 130px; 
  }
  
    .logo-container {
      display: flex;
      align-items: center;
      padding-left: 20px;
    }
    
    .logo {
      height: 100px;
    }
    
    .auth-links {
      display: flex;
      align-items: center;
    }
    
    .auth-link {
      color: #ffffff;
      font-weight: bold;
      text-decoration: none;
      margin-left: 10px;
    }
  
  
    .auth-link:hover {
      color: #007bff !important;
    }
    
    .nav-links {
      background-color: #27357f;
      padding-top: 15px; 
      padding-bottom: 15px; 
      margin-top: 40px; 
    }
    
    .nav-list {
      list-style: none;
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 0;
    }
    
    .nav-item {
      margin: 0 15px;
    }
    
    .nav-link {
      color: white !important;
      font-weight: bold;
    }
    
    
    .nav-link:hover {
      color: #007bff !important;
    }
  

    .profile-photo {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      object-fit: cover;
    }
    
    .username {
      font-weight: bold;
    }
  

  @media only screen and (max-width: 600px) {
    .topbar {
      padding: 10px;
      flex-direction: column; 
      justify-content: center;
      align-items: center;
    }
  
    .logo {
      height: 40px; 
      margin-bottom: 10px;
    }
  
   .auth-links {
      display: flex; 
      margin-top: 10px; 
   }
  
   .nav-links {
      display: block; 
      background-color: #27357f;
      padding: 10px;
   }
  
   .nav-list {
      flex-direction: column;
   }
  
   .nav-item {
      margin: 5px 0;
   }
  
   .nav-link:hover {
      color: white; 
   }
  }



.container{
    display: flex;
    flex-direction:column;
    margin:auto;
    margin-top: 200px;
    width:600px;
    background:#ffffff;
    padding-bottom: 30px;
}

.header{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap: 9px;
    width:100%;
    margin-top:30px;
}

.text{
    color: #f5f905;
    font-size: 48px;
    font-weight:700;
}

.underline{
    width:61px;
    height:6px;
    background: blue;
    border-radius:9px;
}

.inputs{
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap:25px;
}

.input{
    display:flex;
    align-items:center;
    margin:auto;
    width:480px;
    height:80px;
    background:#eaeaea;
    border-radius:6px;
}

.input img{
    margin: 0px 30px;
}

.input input{
    height:50px;
    width:400px;
    background: transparent;
    border:none;
    outline:none;
    color:#797979;
    font-size: 20px;
}

.forgot-password{
    padding-left:62px;
    margin-top:27px;
    color: #797979;
    font-size:18px;
}

.forgot-password span{
    color: blue;
    cursor:pointer;
}

.submit-container{
    display:flex;
    gap:30px;
    margin: 60px auto;
}

.submit{
    display:flex;
    justify-content: center;
    align-items:center;
    width:220px;
    height:59px;
    color:white;
    background:blue;
    border-radius:50px;
    font-size:19px;
    font-weight:700;
    cursor:pointer;
}
.gray{
    background:#EAEAEA;
    color:#676767;
} */