.admin-layout {
    display: flex;
    min-height: 100vh;
  }
  
  .admin-sidebar {
    width: 250px;
    background-color: #343a40;
    padding: 20px;
    color: #fff;
  }
  
  .admin-sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .admin-sidebar ul li {
    margin: 20px 0;
  }
  
  .admin-sidebar ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  .admin-content {
    flex: 1;
    padding: 20px;
    background-color: #f8f9fa;

  }
  
