

.form-container {
    display: flex;
    justify-content: center;
    padding: 60px 0px;
}


.login-container, .register-container, .forgot-password-container, .reset-password-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 500px;
}

.login-form, .register-form, .forgot-password-form, .reset-password-form {
    display: flex;
    flex-direction: column;
}

.login-form h2, .register-form h2, .forgot-password-form h2, .reset-password-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.input-group {
    position: relative;
    margin-bottom: 20px;
}

.input-group label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    font-size: 18px;
}

.input-group input, .input-group select {
    width: 100%;
    padding: 10px 10px 10px 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.input-group select {
    padding-left: 40px;
}

#togglePassword {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 18px;
}

.remember-me {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.remember-me input {
    margin-right: 5px;
}

.forgot-password {
    text-align: center;
    margin: 10px;
}

.forgot-password a {
    color: #007bff;
    text-decoration: none;
}

.register {
    text-align: center;
    margin: 10px;
}

.register p, .forgot-password p {
    margin: 10px;
}

.register a {
    color: #007bff;
    text-decoration: none;
    cursor: pointer;
}

.submit-button {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.submit-button:hover {
    background-color: #0056b3;
}

.btn-secondary {
    background-color: #6c757d;
}

.btn-secondary:hover {
    background-color: #5a6268;
}

.error {
    color: red;
    text-align: center;
    margin-bottom: 10px;
}

.alert {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    text-align: center;
}

.alert-success {
    background-color: #d4edda;
    color: #155724;
}

.alert-danger {
    background-color: #f8d7da;
    color: #721c24;
}

