

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh; /* Ensure it takes full screen height */
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto; /* Allow vertical scrolling if needed */
    width: 100%;
}

.login-container {
    margin-bottom: 80px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 500px;
} 

.register-container, .forgot-password-container, .reset-password-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 500px;
}

.login-form, .register-form, .forgot-password-form, .reset-password-form {
    display: flex;
    flex-direction: column;
}

.login-form h2, .register-form h2, .forgot-password-form h2, .reset-password-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.input-group {
    position: relative;
    margin-bottom: 20px;
}

.input-group label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    font-size: 18px;
}

.input-group input, .input-group select {
    width: 100%;
    padding: 10px 10px 10px 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.input-group select {
    padding-left: 40px;
}

#togglePassword {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 18px;
}

.remember-me {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.remember-me input {
    margin-right: 5px;
}

.forgot-password {
    text-align: center;
    margin: 10px;
}

.forgot-password a {
    color: #007bff;
    text-decoration: none;
}

.register {
    text-align: center;
    margin: 10px;
}

.register p, .forgot-password p {
    margin: 10px;
}

.register a {
    color: #007bff;
    text-decoration: none;
    cursor: pointer;
}

.submit-button {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    background-color: #3f51b5;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.submit-button:hover {
    background-color: #2e397a;
}

.btn-secondary {
    background-color: #6c757d;
}

.btn-secondary:hover {
    background-color: #5a6268;
}

.error {
    color: red;
    text-align: center;
    margin-bottom: 10px;
}

.alert {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    text-align: center;
}

.alert-success {
    background-color: #d4edda;
    color: #155724;
}

.alert-danger {
    background-color: #f8d7da;
    color: #721c24;
}

/* PostForm*/
.post-form-container {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    position: relative;
    margin-bottom: 20px;
}

/* Collapsed post form (initial view) */
.post-form-collapsed {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 10px;
    border-radius: 50px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    cursor: pointer;
}

.user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.collapsed-input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 1.2em;
    color: #666;
    background-color: transparent;
}

/* Modal Styles */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.form-modal-content {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 10px;
    width: 60%;
    position: relative;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.modal-header span {
    font-size: 2em;
}

.close-btn {
    background: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
}

.modal-textarea {
    width: 100%;
    height: 150px;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 8px;
    resize: none;
    font-size: 1.1em;
    margin-bottom: 10px;
}

.post-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.char-count {
    font-size: 0.9em;
    color: #666;
}

.char-count.warning {
    color: #e74c3c;
}

.post-btn {
    padding: 10px 20px;
    border-radius: 4px;
    background-color: #3498db;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1em;
}

.post-btn.loading {
    background-color: #ddd;
    cursor: not-allowed;
}

.error-msg {
    color: #e74c3c;
    margin-top: 10px;
}
